body {
display: flex;
justify-content: center;
align-items: center;
height: 90vh;
}

.container {

}

#turns {
    display: flex;
    justify-content: space-between;
}

#title-screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
/* visibility: visible; */
}
.row {
    display: flex;

}
.cell {
    text-align: center; 
    /* display: flex; 
    align-items: center; 
    justify-content: center;  */
    width: min(25vw, 25vh);
    height: min(25vw, 25vh);
    font-size: 30px;
    cursor: pointer;
}
#game-screen {
    display: none;
}
#end-content {
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#end-screen {
    /* display: none; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    background-color: rgba(0,0,0,0.5);
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

#end-buttons {
    display: flex;
    justify-content: space-around;
}

.current-turn {
    /* color: red; */
    background-color: lightcoral;
}